<form method="post" action='/figures'>
<h2>Figure Name:</h2>
<input type='text' id='figure_name' name='figure[name]'></input>

<h2>Existing Landmarks</h2>
<% @landmarks.each do |l| %>
<input type='checkbox' id="landmark_<%=l.id%>"  name='figure[landmark_ids][]' value='<%=l.id%>'><%= l.name %></input>
<%end%>

<h2>New Landmark</h2>
<input type='text' id='new_landmark' name='landmark[name]'></input>


<h2>Existing Titles</h2>
<% @titles.each do |t| %>
<input type='checkbox' id="title_<%=t.id%>" name='figure[title_ids][]' value='<%=t.id%>'><%= t.name %></input>
<%end%>

<h2>New Title</h2>
<input type='text' id='new_title' name='title[name]'></input>

<input type='submit' value='Create New Figure'>
</form>